@model IEnumerable<BusinessPermit.Models.LocationalClearance>

@{
    ViewBag.Title = "Pending Application";
    ViewBag.CurrentEntity = "Locational Clearance";
    ViewBag.WebPageTitle = "Pending Application";
}

@section toolbarleft {
    <li class="breadcrumb-item"><a href="~/Dashboard/Index">Home</a></li>
    <li class="breadcrumb-item active">Pending Application<li>
}

@section ToolbarRight {

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateApplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LCPermitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandArea)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.TCTNumber)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {

            <tr ondblclick="OpenRecord('/Locational/Edit/' + @item.LocationalClearanceId);" style="cursor:pointer">

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateApplied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LCPermitNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIssued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandArea)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.TCTNumber)
                </td>
                <td>
                    @Html.DisplayFor(modeIte => item.Status)
                </td>
                <td>
                    @Html.LinkWithIcon("Locational", "Edit", item.LocationalClearanceId, "fa fa-pencil")
                </td>
            </tr>
        }

    </tbody>
</table>
