@model IEnumerable<BusinessPermit.Models.Payment>


@{
    ViewBag.Title = "Payment";
    ViewBag.CurrentEntity = "Payment";
    ViewBag.WebPageTitle = "Pending Payment List";
}

@section toolbarleft {
    <li class="breadcrumb-item"><a href="~/Dashboard/Index">Home</a></li>
    <li class="breadcrumb-item active">Pending Payment List</li>
}

@section ToolbarRight {

}

<table class="table table-hover">
    <thead>
        <tr>            
            <th>
                Payment Reference Number
            </th>      
            <th>
                Official Receipt Number
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>


    @foreach (var item in Model)
{
    <tr ondblclick="OpenRecord('/Payment/Edit/' + @item.Id);" style="cursor:pointer">       
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficialReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
