@model BusinessPermit.Models.BuildingPermit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BuildingPermit</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingTypePermit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingTypePermit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormOfOwnerShip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormOfOwnerShip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerStreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerStreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerBarangay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerBarangay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationLotNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLotNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationBlockNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationBlockNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationTCTNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationTCTNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationTaxDescriptionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationTaxDescriptionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationBarangay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationBarangay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScopeOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScopeOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScopeOfWorkOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScopeOfWorkOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingUseOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingUseOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupancyClassified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupancyClassified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFloorArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFloorArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalEstimatedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalEstimatedCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedConstructionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedConstructionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedCompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedCompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationalId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuildingPermitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
