@model BusinessPermit.Models.BuildingPermit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BuildingPermit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BuildingPermitId)

        <div class="form-group">
            @Html.LabelFor(model => model.BuildingTypePermit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuildingTypePermit)
                @Html.ValidationMessageFor(model => model.BuildingTypePermit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationNumber)
                @Html.ValidationMessageFor(model => model.ApplicationNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaNumber)
                @Html.ValidationMessageFor(model => model.AreaNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Owner, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleInitial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleInitial)
                @Html.ValidationMessageFor(model => model.MiddleInitial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIN)
                @Html.ValidationMessageFor(model => model.TIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormOfOwnerShip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormOfOwnerShip)
                @Html.ValidationMessageFor(model => model.FormOfOwnerShip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerStreetNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerStreetNumber)
                @Html.ValidationMessageFor(model => model.OwnerStreetNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerStreet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerStreet)
                @Html.ValidationMessageFor(model => model.OwnerStreet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerBarangay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerBarangay)
                @Html.ValidationMessageFor(model => model.OwnerBarangay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerCity)
                @Html.ValidationMessageFor(model => model.OwnerCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerZipCode)
                @Html.ValidationMessageFor(model => model.OwnerZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelephoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelephoneNumber)
                @Html.ValidationMessageFor(model => model.TelephoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationLotNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationLotNumber)
                @Html.ValidationMessageFor(model => model.LocationLotNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationBlockNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationBlockNumber)
                @Html.ValidationMessageFor(model => model.LocationBlockNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationTCTNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationTCTNumber)
                @Html.ValidationMessageFor(model => model.LocationTCTNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationTaxDescriptionNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationTaxDescriptionNumber)
                @Html.ValidationMessageFor(model => model.LocationTaxDescriptionNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationStreet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationStreet)
                @Html.ValidationMessageFor(model => model.LocationStreet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationBarangay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationBarangay)
                @Html.ValidationMessageFor(model => model.LocationBarangay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationCity)
                @Html.ValidationMessageFor(model => model.LocationCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScopeOfWork, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScopeOfWork)
                @Html.ValidationMessageFor(model => model.ScopeOfWork)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScopeOfWorkOther, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScopeOfWorkOther)
                @Html.ValidationMessageFor(model => model.ScopeOfWorkOther)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuildingUse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuildingUse)
                @Html.ValidationMessageFor(model => model.BuildingUse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuildingUseOther, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuildingUseOther)
                @Html.ValidationMessageFor(model => model.BuildingUseOther)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OccupancyClassified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OccupancyClassified)
                @Html.ValidationMessageFor(model => model.OccupancyClassified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfUnits, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfUnits)
                @Html.ValidationMessageFor(model => model.NumberOfUnits)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalFloorArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalFloorArea)
                @Html.ValidationMessageFor(model => model.TotalFloorArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalEstimatedCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalEstimatedCost)
                @Html.ValidationMessageFor(model => model.TotalEstimatedCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProposedConstructionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProposedConstructionDate)
                @Html.ValidationMessageFor(model => model.ProposedConstructionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedCompletionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpectedCompletionDate)
                @Html.ValidationMessageFor(model => model.ExpectedCompletionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attachment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attachment)
                @Html.ValidationMessageFor(model => model.Attachment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationalId)
                @Html.ValidationMessageFor(model => model.LocationalId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
