@model IEnumerable<BusinessPermit.Models.BuildingPermit>

@{
    ViewBag.Title = "Pending Application";
    ViewBag.CurrentEntity = "Building Permit";
    ViewBag.WebPageTitle = "Pending Application";
}

@section toolbarleft {
    <li class="breadcrumb-item"><a href="~/Dashboard/Index">Home</a></li>
    <li class="breadcrumb-item active">Pending Application<li>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Application Number
            </th>
            <th>
                Full Name
            </th>
            <th>
                TIN
            </th>
            <th>
                Estimated Cost
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>


        @foreach (var item in Model)
        {
            <tr ondblclick="OpenRecord('/BuildingPermit/Edit/' + @item.BuildingPermitId);" style="cursor:pointer">
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TIN)
                </td>
                <td>
                    @Html.DisplayForCurrency(item.TotalEstimatedCost)
                </td>
                <td>
                    <a href="~/BuildingPermit/DownloadAttachment?id=@item.BuildingPermitId">Requirements</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.LinkWithIcon("BuildingPermit", "Edit", item.BuildingPermitId, "fa fa-pencil")
                </td>
            </tr>
        }
    </tbody>
</table>
